@import "tailwindcss";

html, body {
  height: 100%;
  overflow: hidden;
  padding: 1rem; /* avoid touching edges */
  background: #000; /* ensure black behind everything */
}

main {
  height: calc(100vh - 2rem);
  overflow: hidden;
}