@import "tailwindcss";

html, body {
  height: 100%;
  overflow: hidden;
  padding: 1rem; /* avoid touching edges */
  background: #1a1a1a; /* match page bg color */
}

main {
  height: calc(100vh - 2rem);
  overflow: hidden;
}